body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------ general purpose classes ---------------------*/

p{
  font-size: 14px !important;
}

.centered {
  text-align: center;
}

.fantasy {
  font-family: Ubuntu;
  letter-spacing: 1px;
  color: #fff;
}

.fantasy-dark{
  font-family: Ubuntu;
  letter-spacing: 1px;
  color: #000;
}

.tab:hover {
  font-weight: 600;
}

.row {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.spacer{
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.row .col.offset-l2 {
  margin-left: 8%;
}
/*------------------- navbar ------------------------*/
.nav-wrapper {
  background-color: transparent;
  height: 64px;
  box-shadow: none;
}

.nav_title {
  font-size: 1rem;
}

nav ul a {
  color: #aaa !important;
  font-weight: 500;
  padding: 0 30px !important;
}

.App-logo {
  cursor: pointer;
}
.App-logo-navbar {
  height: 1.5em;
  padding: 10px;
  width: 1.5em;
}

.brand-logo {
  color: #ffffff !important;
  font-size: 1.2rem !important;
  font-family: ubuntu;
  font-weight: 800;
}

.brand-logo span {
  color: #eee;
  font-weight: 100;
}

.sidenav-trigger {
  margin-top: 5px;
  cursor: pointer;
  color: #eee;
}

nav ul li {
  float: none !important;
}

.visible {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.hidden {
  transform: translate3d(-30vw, 0, 0);
}

.sideBar {
  width: 9em;
  height: 100vh;
  background-color: #405168d5;
  position: fixed;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

nav i.material-icons {
  display: block;
  font-size: 40px;
  height: 56px;
  line-height: 60px;
  color: #aaa;
  margin:20px 50px;
}
/*------------------- page specific classes --------------------------*/

/* first screen */

.App-logo {
  animation: flow-rotate 4s infinite;
  height: 10vmin;
}

@keyframes flow-rotate {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}

.title-first_screen {
  text-transform: uppercase;
  letter-spacing: 4px !important;
  margin: 20px;
}

h1 {
  font-size: 6vw !important;
  font-weight: 800 !important;
}

h6 {
  font-size: 2vw !important;
  line-height: 1.7em !important;
}

p.title-first_screen {
  font-size: 1vw !important;
}

.App_first_screen {
  background-image: url("./images/building.JPG");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App_first_screen img {
  margin: 30px;
  width: 8vw;
  height: 8vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------------------- home page --------------------------*/

.title_span {
  font-size: 6vw !important;
  font-weight: 100 !important;
}

.title-container {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/building.JPG");
  background-size: cover;
  padding: 6% 15%;
  background-position: center;
  background-size: cover;
  margin-top: -64px;
}
.text-container {
  padding: 5% 10%;
}

.image-home {
  width: 9vw;
  height: 9vw;
}

.page-logo {
  margin-bottom: 8%;
  height: 10vw;
}

.arrow-scroll {
  color: #fff;
  font-size: 20px;
  padding: 5px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 15px;
}

i.arrow-scroll {
  animation-name: arrow-scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes arrow-scroll {
  0% {
    padding-top: 3px;
  }
  100% {
    padding-top: 33px;
  }
}

div.ui.pointing.secondary.menu {
  text-align: center;
  margin: 2.5em 0 3em;
}

a.item {
  color: teal;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 3% 10%;
}

a.active.item {
  border-bottom: 2px solid teal;
}

div.ui.segment.active.tab:hover{
  font-weight: 400;
}

.section-title{
  margin-top: 1.5em  !important;
  color:teal !important;
}

.card{
  border: 1px solid #ddd !important; 
}

.card-title{
  color:teal !important;
}

.card .card-content {
  padding: 60px 24px  !important;
  min-height: 250px !important;
}

.card .card-content p{
  font-size: 13px !important;
}

.card .card-image .card-title{
  bottom: -70px !important;
}

.download-button-container{
  margin-top: 40px ;
}

.download-button{
  background: teal;
  padding: 12px 10px;
  margin-top: 40px ;
  border-radius: 20px;
  color: #fff;
}

/*---------------------- footer --------------------*/

footer h5 {
  font-size: 16px;
}

footer p {
  font-size: 12px;
}

footer a {
  font-size: 12px;
}

.inline-list {
  display: inline-grid;
  margin: 5px 40px;
}

/*+++++++++++++++++++++++++++++++++ mobile ++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width: 1024px) {
  .title-container {
    height: auto;
  }

  .arrow-scroll {
    display: none;
  }
}

@media screen and (max-width: 800px) {
h6{
  font-size: 1rem !important;
}

h2 {
  font-size: 2em;
}

p{
  font-size: 14px !important;
}
  nav i.material-icons {
    margin:5px 10px;
  }

  .page-logo {
    height: 14vw;
  }
  
}

