body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------ general purpose classes ---------------------*/

.centered {
  text-align: center;
}

.vertical_padding {
  padding: 50px 0;
  margin: 0;
}
.fantasy {
  font-family: Ubuntu;
  letter-spacing: 2px;
  color: #fff;
}

/*------------------- navbar ------------------------*/
.nav-wrapper {
  background-color:transparent;
  height: 64px;
  box-shadow: none;
}

.active {
  color: #fff !important;
  font-weight: 600;
}

.nav_title {
  font-size: 16px;
}

nav ul a {
  color: #aaa !important;
  font-weight: 500;
  padding: 0 30px !important;
}

.App-logo {
  cursor: pointer;
}
.App-logo-navbar {
  height: 1.5em;
  padding: 10px;
  width: 1.5em;
}

.brand-logo {
  color: #ffffff !important;
  font-size: 1.2rem !important;
  font-family: ubuntu;
  font-weight: 800;
}

.brand-logo span {
  color: #eee;
  font-weight: 100;
}

.sidenav-trigger {
  margin-top: 5px;
  cursor: pointer;
  color: #eee;
}

nav ul li {
  float: none !important;
}

.visible {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.hidden {
  transform: translate3d(-30vw, 0, 0);
}

.sideBar {
  width: 9em;
  height: 100vh;
  background-color: #405168d5;
  position: fixed;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

/*------------------- page specific classes --------------------------*/

/* first screen */

.App-logo {
  animation: flow-rotate 4s infinite;
  height: 10vmin;
}

@keyframes flow-rotate {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}

.title-first_screen {
  text-transform: uppercase;
  letter-spacing: 4px !important;
  margin: 20px;
}

h1 {
  font-size: 6vw !important;
}

h5 {
  font-size: 2vw !important;
}

p.title-first_screen {
  font-size: 1vw !important;
}

.App_first_screen {
  background-image: url("./images/building.JPG");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App_first_screen img {
  margin:30px;
  width: 8vw;
  height: 8vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------------------- home page --------------------------*/

.home-title {
  padding: 2em 0;
  letter-spacing: 1px;
  font-size: 4vw;
  font-family: ubuntu;
}

.home-text {
  padding: 2em 0;
  letter-spacing: 1px;
  font-size: 2vw;
  font-family: ubuntu;
}

.title-container {
  height: 100vh;
  background-image: url('./images/building.JPG');
  background-size: cover;
  padding: 15%;
  background-position: center;
  background-size: cover;
  margin-top: -64px;
}

.image-home {
  width: 9vw;
  height: 9vw;
}

/*---------------------- footer --------------------*/

footer h5 {
  font-size: 16px;
}

footer p {
  font-size: 12px;
}

footer a {
  font-size: 12px;
}

.inline-list {
  display: inline-grid;
  margin: 5px 40px;
}

/*+++++++++++++++++++++++++++++++++ mobile ++++++++++++++++++++++++++++++++++++++++++++*/
